name: Build the docs

on:
  # Runs on pull requests to the `main` branch and only for the `docs/**` path.
  pull_request:
    branches: [ main ]
    paths:
      - 'docs/**'

  # Allows us to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  PNPM_CACHE_STORE_PATH: ""

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # 5.0.0

      - name: Install Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # 4.4.0
        with:
          node-version-file: './docs/.nvmrc'

      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # 4.1.0
        name: Install pnpm
        with:
          run_install: false
          package_json_file: './docs/package.json'

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "PNPM_CACHE_STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # 4.2.4
        name: Setup pnpm cache
        with:
          path: ${{ env.PNPM_CACHE_STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: |
          cd docs
          pnpm install

      - name: Build the docs
        run: |
          cd docs
          pnpm docs:build
